@model ProjectPageViewModel

<div class="container bg-light p-3 px-5">
    <div class="row">
        <div class="col ">
            <div class="d-flex justify-content-end ">
                @if (!Model.IsMember)
                {
                    <a href="/Project/join/@Model.Id" class="btn btn-success me-2" >join</a>
                    
                }
            
                <div class="btn-group ">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        @if (Model.IsOwner)
                        {
                        <li><a class="dropdown-item" href="#">Редагувати проект</a></li>
                        <li><a class="dropdown-item" href="#">Бажаючі</a></li>
                            
                        }
                        <li><hr class="dropdown-divider"></li>
                        @if (Model.IsOwner)
                        {
                            <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                        }
                        @if (Model.IsMember)
                        {
                            <li><a class="dropdown-item text-danger" href="#">Leave</a></li>
                        }

                    </ul>
                </div>
            </div>

        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <span>status</span>
            <div>
                <h1 class="fw-bold">@Model.Name</h1>
               


            </div>
        </div>
        <div class="col d-flex justify-content-end ">
            <a href="/Profile/@Model.OwnerProfile.Id">Creator: @Model.OwnerProfile.FirstName @Model.OwnerProfile.LastName</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <div class="stack">
                <ul class="project-skills ps-0 mt-1">
                    @foreach (var item in Model.Stack)
                    {
                        <li class="project-skill-item p-1">@item.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="shortDescription fw-bolder">
            @Model.ShortDescription
        </div>
        <div class="description mt-3" >
            @Model.Description
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr class="my-4"/>
            <h5>Members @Model.Members.Count </h5>
            
            <div class="members">
                @foreach (var member in Model.Members)
                {
                    <a href="/Profile/@member.Id" class="text-decoration-none text-black">

                        <div class="profile-list-item card mb-4 box-shadow position-relative ">
                            <div class="card-body">
                                <h5 class="card-title">@member.FirstName @member.LastName</h5>
                                <div>
                                    <ul class="project-skills ps-0 mt-1">
                                        @foreach (var item in member.Skills)
                                        {
                                            <li class="project-skill-item p-1">@item.Name</li>
                                        }
                                    </ul>
                                </div>
                                <div class="card-subtitle">
                                    @member.Bio
                                </div>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="status-project">find team</small>
                                    <small class="members-counter">Rating: 4/5</small>
                                </div>
                            </div>
                        </div>
                    </a>
                
                }
            </div>
        </div>
    </div>
    @if (!Model.IsMember)
    {
        
        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Join to project</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <textarea class="form-control"></textarea>
                            <input class="btn btn-primary mt-2 w-100" type="submit" value="join" />
                        </form>
                    </div>
                </div>
               
                
            </div>
        </div>
    }
</div>