@using DevTeamUp.BLL.DTOs;
@model IList<ProjectDTO>

<div class="container white-bg p-5">
    <div class="row mb-3">
        <div class="col">
            <h1>Проекти</h1>
            <form id="projectFIlerForm">
                <div class="input-group">

                    <input class="form-control" type="text" value="" name="Keyword" />
                    <input class="btn btn-success" type="submit" value="find" />
                </div>
                <div class="mb-3 p-3 border border-3 rounded-3 ">
                    <select class="form-control selectpicker source" data-live-search="true">
                        <option value="">Технології</option>

                        @foreach (var item in ViewBag.Technologies as IList<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                       
                    </select>
                    <hr />
                    <div class="selected">
                    </div>
                    <div id="hideInputs">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row ">
       @* <div class="col-lg-4 col-md-12 ">
            <div class="project-list-item card mb-4 box-shadow position-relative ">

                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <div>
                        <ul class="project-skills">
                            @for (int j = 0; j < 5; j++)
                            {
                                <li class="project-skill-item">Skill name</li>
                            }
                        </ul>
                    </div>
                    <div class="card-subtitle">
                        Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </div>
                    <div class="d-flex justify-content-between align-items-center">

                        <small class="status-project">find team</small>
                        <small class="members-counter">1/4</small>
                    </div>
                </div>
            </div>
        </div>*@
      
        @foreach (var project in Model)
        {
            <div class="col-lg-4 col-md-12">
                <a href="/Project/@project.Id" class="text-decoration-none text-black">
                    
                    <div class="project-list-item card mb-4 box-shadow position-relative ">

                        <div class="card-body ">
                            <h5 class="card-title">@project.Name</h5>
                            <div>
                                    <ul class="project-skills">
                                        @foreach (var item in project.Stack)
                                        {
                                            <li class="project-skill-item">@item.Name</li>
                                        }
                                    </ul>
                                </div>
                            <div class="card-subtitle">
                                    @project.ShortDescription
                                </div>
                        
                            <div class="d-flex justify-content-between align-items-center">

                               @* <small class="status-project">find team</small>
                                <small class="members-counter">1/4</small>*@
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }


 
    </div>
</div>


@section Scripts {


    <script>

        let source = document.querySelector('.source');
        let selected = document.querySelector('.selected')
        let hideInputs = document.querySelector('#hideInputs')

        let form = document.querySelector('#projectFIlerForm');


        let skillsSelect = new MySelect(hideInputs, source, selected, 'Technologies');

    </script>
}